body {
  padding:50px; /* temporary, to visualize the component  */
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form textarea {
  width: 100%;
  resize: none;
}

.contact-form input,
.contact-form textarea {
  padding: 0.9rem;
  border: 1px solid var(--color-neutral-400);
  border-radius: 0.5rem;
    outline: none; /* Remove browser's default outline to showcase custom border color on focus */
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--color-tertiary-dark);
}

.contact-form input:focus::placeholder,
.contact-form textarea:focus::placeholder {
  color: var(--color-tertiary-dark);
}

/* Override global Styles applied when navigating with keyboard for this component*/
.contact-form input:focus-visible,
.contact-form textarea:focus-visible {
  border-color: var(--color-tertiary-dark);
  color: var(--color-tertiary-dark);
}
.contact-form-btn:focus-visible {
  outline: none;
  background-color: var(--color-tertiary-dark);
}
/* */
.contact-form-btn {
  align-self: center;
  padding: 0.9rem 1.5rem;
  background-color: var(--color-tertiary);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: var(--font-size-m);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent; /* Remove mobile tap highlight */
}

.contact-form-btn:hover {
  background-color: var(--color-tertiary-dark);
}

.contact-form-btn:active {
  transform: scale(0.98);
}

@media (min-width: 768px) {
  .contact-form {
    max-width: 600px;
  }
}